body {
    background-color: #06252A;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #08363B;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #FFFFFF;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #FFFFFF;
  }
  
  .form-group input {
    width: 90%;
    padding: 8px;
    border: 1px solid #093D44;
    border-radius: 4px;
    background-color: #0A474E;
    color: #FFFFFF;
  }
  
  .form-group input:focus {
    outline: none;
    border-color: #0B5058;
  }
  
  button {
    width: 45%;
    padding: 10px;
    background-color: #0C5A62;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    margin: 20px 80px;
    display: flex;
    place-content: center;
  }
  
  button:hover {
    background-color: #0D636C;
  }
  