.event-cards-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}


.day-selector button {
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  border-bottom: none;
  transition: border-bottom 0.3s ease;
}
.day-selector button.active {
  border-bottom: 2px solid #fff;
}


.category-selector, .day-selector{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  text-transform: uppercase;
}


@media (min-width: 768px) {
  .event-cards-container {
    max-width: 1200px;
  }
}


@media (max-width: 767px) {
  .event-cards-container {
    padding: 10px;
  }

  .event-card {
    width: 100%;
    max-width: 100%; 
  }
}

.event-cards-wrapper {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
  box-sizing: border-box; 
  min-height: 300px;
}

.event-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  transition: transform 0.6s;
  margin: 20px auto;
}

.event-cards.flip {
  transform: rotateY(90deg);
}

.event-cards.slide-left {
  transform: translateX(-100%);
}

.event-cards.slide-right {
  transform: translateX(100%);
}


.eventCard {
  background: #E3F0FF;
  width: 90%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(137, 118, 118, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box; 
  backface-visibility: hidden;
  transform: rotateY(0deg);
  color: rgb(40, 114, 113);
}

.event-card-content {
  width: 100%;
  position: relative;
}

.event-card-details {
  flex: 1;
}

.event-card-details h3 {
  width: 100%;
  margin-bottom: 5px;
  font-size: 1.2em;
  text-align: center;
}

.event-card-details p {
  margin: 5px 0;
  font-size: 0.9em;
}

.event-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-card-image {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .7;
}

.event-card-image img {
  width: 100px;
  height: 100%;
  object-fit: contain;
}



